<div class="mtmegamenu">
    <ul class="hidden-xs">
        @*<li class="mt-root demo_custom_link_cms">
                <div class="mt-root-item">
                    <a href="index.html">
                        <div class="title title_font"><span class="title-text">Home</span></div>
                    </a>
                </div>
                <ul class="menu-items col-md-3 col-sm-4 col-xs-12">
                    <li class="menu-item depth-1">
                        <div class="title"> <a href="index.html"><span>Home Version 1</span></a></div>
                    </li>
                    <li class="menu-item depth-1">
                        <div class="title"> <a href="version2/index.html"><span>Home Version 2</span></a></div>
                    </li>
                    <li class="menu-item depth-1">
                        <div class="title"> <a href="version3/index.html"><span>Home Version 3</span></a></div>
                    </li>
                    <li class="menu-item depth-1">
                        <div class="title"> <a href="version4/index.html"><span>Home Version 4</span></a></div>
                    </li>
                </ul>
            </li>*@
        <li class="mt-root">
            <div class="mt-root-item">
                <a href="shop_grid.html">
                    <div class="title title_font"><span class="title-text">Trang chủ</span> </div>
                </a>
            </div>
        </li>
        <li class="mt-root demo_custom_link_cms">
            <div class="mt-root-item">
                <a href="blog.html">
                    <div class="title title_font"><span class="title-text">Giới thiệu</span></div>
                </a>
            </div>
            <ul class="menu-items col-md-3 col-sm-4 col-xs-12" style="top: 28px; left: 402.531px;">
                <li class="menu-item depth-1">
                    <div class="title"> <a href="blog_right_sidebar.html"> Thông tin chung </a></div>
                </li>
                @*<li class="menu-item depth-1">
                        <div class="title"> <a href="blog_left_sidebar.html"> Blog – Left Sidebar </a></div>
                    </li>
                    <li class="menu-item depth-1">
                        <div class="title"> <a href="blog_full_width.html"> Blog – Full-Width </a></div>
                    </li>
                    <li class="menu-item depth-1">
                        <div class="title"> <a href="blog_single_post.html"> Single post </a></div>
                    </li>*@
            </ul>
        </li>
        <li class="mt-root demo_custom_link_cms">
            <div class="mt-root-item">
                <a href="blog.html">
                    <div class="title title_font"><span class="title-text">Sản phẩm</span></div>
                </a>
            </div>
            <ul class="menu-items col-md-3 col-sm-4 col-xs-12" style="top: 28px; left: 402.531px;">
                <li class="menu-item depth-1">
                    <div class="title"> <a href="blog_right_sidebar.html"> Đèn chiếu sáng </a></div>
                </li>
                @*<li class="menu-item depth-1">
                        <div class="title"> <a href="blog_left_sidebar.html"> Blog – Left Sidebar </a></div>
                    </li>
                    <li class="menu-item depth-1">
                        <div class="title"> <a href="blog_full_width.html"> Blog – Full-Width </a></div>
                    </li>
                    <li class="menu-item depth-1">
                        <div class="title"> <a href="blog_single_post.html"> Single post </a></div>
                    </li>*@
            </ul>
        </li>
        <li class="mt-root">
            <div class="mt-root-item">
                <a href="shop_grid.html">
                    <div class="title title_font"><span class="title-text">Dự án - Công trình</span> </div>
                </a>
            </div>
        </li>
        <li class="mt-root">
            <div class="mt-root-item">
                <a href="about_us.html">
                    <div class="title title_font"><span class="title-text">Liên hệ</span></div>
                </a>
            </div>
        </li>
        <li>
            @*<a href="https://themeforest.net/item/shopmart-electronic-digital-store-ecommerce-html-templates/20477712?s_rank=9">Buy this theme</a>*@
        </li>
    </ul>
</div>